$accent-color: rgb(102, 255, 204);
$base: rgb(0, 36, 27);
$text: rgb(160, 255, 229);
$wow: rgb(0, 48, 36);

$clickgui-base-color: rgb(0, 36, 27);
$clickgui-text-color: rgb(102, 255, 204);
$clickgui-text-dimmed-color: rgb(140, 200, 185);

$yo: rgb(60, 201, 163);
$yo2: rgb(128, 255, 221);

$a1: rgb(153, 255, 234);
$a2: rgb(96, 212, 183);

$txtshdw: rgb(170, 255, 238);
$txtshdw2: rgb(122, 235, 210);

$healthprogress-particle: rgb(153, 255, 234);
$particle: rgba(120, 255, 220, 0.5);

$hotbar1: rgb(20, 100, 80);
$hotbar2: rgb(40, 160, 130);
$hotbar3: rgb(60, 220, 180);

$y-shadow: 0 0 30px 2px rgba(120, 255, 220, 0.5);
$base-shadow: 0 0 30px 0 rgba($base, 0.5);
$shadow: 0px 0px 16px rgba(black, 0.5);
$shadow-arraylist: 0 0 50px 0 rgba($base, 0.6);
$texte: 0px 0px 20px $text;