$accent-color: rgb(201, 74, 74);
$base: rgb(29, 0, 0);
$text: rgb(194, 87, 87);
$wow: rgb(41, 0, 0);

$clickgui-base-color: rgb(29, 0, 0);
$clickgui-text-color: rgb(201, 74, 74);
$clickgui-text-dimmed-color: rgb(145, 112, 112);

$yo: rgb(122, 22, 22);
$yo2: rgb(184, 66, 66);

$a1: rgb(255, 86, 86);
$a2: rgb(158, 57, 57);

$txtshdw: rgb(228, 103, 103);
$txtshdw2: rgb(184, 74, 74);

$healthprogress-particle: rgb(255, 86, 86);
$particle: rgba(255, 50, 50, 0.502);

$hotbar1: rgb(88, 22, 22);
$hotbar2: rgb(132, 44, 44);
$hotbar3: rgb(176, 66, 66);

$y-shadow: 0 0 30px 2px rgba(255, 88, 88, 0.5);
$base-shadow: 0 0 30px 0 rgba($base, 0.5);
$shadow: 0px 0px 16px rgba($base, 0.5);
$shadow-arraylist: 0 0 50px 0 rgba($base, 0.6);
$texte: 0px 0px 20px $text;